@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color:rgb(241,245,241);

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .animate-bounce-slow {
    animation: bounce 2s ease-in-out infinite;
  }


  .neo-card-container {
    margin-right: 10px; /* Adjust as needed */
  }
  